  body {
  
    background-color: #F5FFF9;
    min-height: 100%;
  }

  .btn-primary {
    background-color:#83CCa0;
    border: none;
  }

  .btn-outline-primary:hover {
    background-color:#83CCa0;
    border: none;
  }

  .btn-outline-primary {
    border-color: #83CCA0;
    color: black;
  }

  .navigation {
   background-color: #83CCA0;
 }

  #collapsible-nav-dropdown {
    background-color: #83CCA0;
  }

  #responsive-navbar-nav {
    background-color:  #83CCA0;
  }

  p.data-title.mb-0{
    font-weight:700;
  }

  
  .card {
    border: none;
  }
  .img-thumbnail {
    border: none;
  }

  .btn-outline-secondary {
    border: #83CCA0;
  }
  .btn-outline-secondary:hover {
    background-color:  #83CCA0;
  }

  .navigation {
    background-color:  #83CCA0;
  }

  .me-auto {
    margin: 0%;
  }

  .dropdown-menu {
    background-color:  #69b186; 
  }


  .home-images {
    padding-bottom: 0.5rem;
  }
  // TO DO
  // center text
  // columns for layout
  // uniform cards
  // image margins within cards
  // pastel colours 
  // italics underneath bold heading   
  .arrow {
    max-height: 30px;
    margin: 5px;
    max-width: auto;
  }

  .rounded-circle{
    object-fit: cover;
  }

